body{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas:
                        "h h h"
                        "s c c";
}


/* HEADER-------------------------------------------------------------------------------------------------------------------------------------*/

.header{
  grid-template-rows: 80px;
  grid-area: h;
  background-color: aqua;
}

/* SIDEBAR------------------------------------------------------------------------------------------------------------------------------------*/

.sideBar{
  grid-template-columns: 100px;
  background-color: lightgray;
  grid-area: s;
}

#telephone{
  list-style-image: url(Icons/telephone.png);
  padding: 5px;
}

#email{
  list-style-image: url(Icons/gmail.png);
  padding: 5px;
}

#website{
  list-style-image: url(Icons/website.png);
  padding: 5px;
}

/* Social Media---------------------------------------------------*/
#fb{
  list-style-image: url(Icons/facebook.png);
  padding: 5px;
}

#ig{
  list-style-image: url(Icons/instagram.png);
  padding: 5px;
}

.contactDetails{
}

img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  justify-self: end;
}

/* MAIN CONTENT-------------------------------------------------------------------------------------------------------------------------------*/

.mainContent{
  background-color: white;
  grid-area: c;
}


/* Work Experience-----------------------------------------------*/
.workExContainer{
  display: flex; 
}

.workExBody{
  width: 35%;
  box-sizing: border-box;
}

/* Education----------------------------------------------------*/
.eContainer{
  display: flex;
}

.eBody{
  width: 35%;
}


